h2 {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 700;
  margin: 16px;
}

.container {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.favo-title-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 30px 0 30px;
}

.favo-title {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  height: 80px;
  padding: 16px 120px 16px 120px;
  box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
}

.favo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 30px 15px 30px;
}

.favo {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  height: 80px;
  padding: 16px 60px 16px 60px;
  box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
}

.favo > a {
  color: black;
}

.favo > p {
  margin: 0;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  float: none;
}

.btn {
  background-color: rgb(10, 25, 47);
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}
