<div *ngIf="userProfile">
  <h2>Detalhes do Perfil</h2>
  <div class="container">
    <div class="container-user">
      <div class="card-user-a">
        <img
          class="card-img-top"
          [src]="userProfile.avatar_url"
          alt="User Image"
        />

        <div class="card-body">
          <div class="head">
            <p>Nome: {{ userProfile.name }}</p>
            <button class="favo" (click)="addFavorite()">
              <mat-icon>{{
                isProfileFavorited ? "favorite" : "favorite_border"
              }}</mat-icon>
            </button>
          </div>

          <p>Usuário: {{ userProfile.login }}</p>
          <p>Seguidores: {{ userProfile.followers }}</p>
          <p>Seguindo: {{ userProfile.following }}</p>
          <p>
            Usuário desde:
            <span>{{ userProfile.created_at | date }}</span>
          </p>
        </div>
      </div>
      <div class="container-user-cards-about">
        <div class="card-user-b">
          <ul class="items">
            <li>Nome: {{ userProfile.name }}</li>
            <hr />
            <li>Endereço: {{ userProfile.location }}</li>
            <hr />
            <div class="card-user-repo">
              <li>
                Repositórios: <span>{{ userProfile.public_repos }}</span>
              </li>
            </div>
          </ul>
        </div>
        <div class="card-user-b">
          <ul class="items">
            <li>Sobre</li>
            <hr />
            <li>
              <p>{{ userProfile.bio }}</p>
            </li>
          </ul>
        </div>
        <div class="card-user-b">
          <ul class="items">
            <li>Stacks mais usadas</li>
            <li>
              <div *ngIf="topTechs" class="stacks-container">
                <div class="stacks">
                  <ul>
                    <li *ngFor="let tech of topTechs">
                      {{ tech[0] | uppercase }}
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-user-b">
          <ul class="items">
            <li>Github</li>
            <hr />
            <li>
              <div class="gitbtn">
                <a
                  class="btn"
                  href="https://github.com/{{ userProfile.login }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >View Github
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-repos">
      <div *ngIf="userRepo">
        <h2>Repositórios do Usuário</h2>
        <ul>
          <li *ngFor="let repo of userRepo">
            <div class="user-repo">
              <div class="user-repo-title">
                <h3>{{ repo.name }}</h3>
                <div class="user-repo-star">
                  <mat-icon>star</mat-icon>
                  <p>{{ repo.stargazers_count }}</p>
                </div>
              </div>
              <div class="user-repo-language">
                <p>Descrição: {{ repo.description }}</p>
                <p>Linguagem: {{ repo.language }}</p>
              </div>
              <div class="user-repo-data">
                <p>
                  Criado em: <span>{{ repo.created_at | date }}</span>
                </p>
              </div>
              <p>
                <a class="btn" href="{{ repo.html_url }}" target="_blank"
                  >Link do Repositório</a
                >
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
