.search-input {
  display: flex;
  justify-content: center;
  margin: 20px;
}

input {
  border-radius: 24px;
  padding: 0.8rem;
  min-width: 35rem;
  font-size: 18px;
}

input:hover {
  outline: none;
  box-shadow: 0 0 0 3px black;
}

.card {
  max-width: 200px;
  margin: auto;
}

mat-card {
  background-color: #fff;
  color: black;
  border: 1px solid #ebe3d5;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

mat-card-title > h2 {
  font-size: 18px;
}
