<app-input
  type="text"
  [(ngModel)]="username"
  (ngModelChange)="fetchUserProfile()"
  placeholder="Coloque o @ do usuário aqui"
></app-input>

<div class="container">
  <div class="container-user">
    <div class="card-user-a">
      <img class="card-img-top" [src]="userProfileImageUrl" alt="My Image" />
      <div class="card-body">
        <p class="card-text">
          Nome:<span> {{ userProfileData.name }}</span>
        </p>
        <p>
          Username:<span> {{ userProfileData.login }}</span>
        </p>
        <div class="join">
          <p>Usuário desde:</p>
          <div class="badge">
            <span>{{ userProfileData.created_at | date }}</span>
          </div>
        </div>
        <div class="follow">
          <p>
            👤<span>{{ userProfileData.followers }}</span> Seguidores
          </p>
          <p>
            👤<span>{{ userProfileData.following }}</span> Seguindo
          </p>
        </div>
      </div>
    </div>
    <div class="container-user-cards-about">
      <div class="card-user-b">
        <ul class="items">
          <li class="list-group-item">
            Nome: <span>{{ userProfileData.name }}</span>
          </li>
          <hr />
          <li class="list-group-item">
            Endereço: <span>{{ userProfileData.location }}</span>
          </li>
          <hr />
          <div class="about-repos">
            <li class="list-group-item">Repositórios:</li>
            <div class="badge">
              <span>{{ userProfileData.public_repos }}</span>
            </div>
          </div>
        </ul>
      </div>
      <div class="card-user-b">
        <ul class="items">
          <li class="list-group-item">About me</li>
          <hr />
          <li class="list-group-item">
            <p>{{ userProfileData.bio }}</p>
          </li>
        </ul>
      </div>
      <div class="card-user-b">
        <ul class="items">
          <li class="list-group-item">Stacks mais usadas</li>
          <li class="list-group-item">
            <div *ngIf="topTechs$ | async as topTechs" class="stacks-container">
              <div class="stacks">
                <ul>
                  <li *ngFor="let tech of topTechs">{{ tech[0] }}</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-user-b">
        <ul class="items">
          <li class="list-group-item">Github</li>
          <hr />
          <li class="list-group-item">
            <div class="gitbtn">
              <a
                class="btn"
                href="https://github.com/{{ userProfileData.login }}"
                target="_blank"
                rel="noopener noreferrer"
                >View Github
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-repos">
    <div class="card-title-repo">
      <div class="repos-title">
        <h1>Repositórios</h1>
      </div>
    </div>
    <div class="card-repos">
      <div *ngIf="userRepos$ | async as userRepos">
        <ul>
          <li *ngFor="let repo of userRepos; let i = index">
            <div class="user-repo">
              <div class="user-repo-title">
                <h3>
                  {{ repo.name }}
                </h3>
                <div class="user-repo-star">
                  <mat-icon>star</mat-icon>
                  <p>{{ repo.stargazers_count }}</p>
                </div>
              </div>
              <div class="user-repo-data">
                <p>Criado em:</p>
                <span>{{ repo.created_at | date }}</span>
              </div>
              <div class="user-repo-language">
                <p>Linguagem:</p>
                <span>{{ repo.language }}</span>
              </div>

              <a
                href="{{ repo.html_url }}"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Link Repositório</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <mat-card class="card">
  <div *ngIf="userProfileData">
    <mat-card-header>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>{{ isFavorite ? "favorite" : "favorite_border" }}</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-title>
        <a (click)="navigateToUserProfile()">
          <h2>{{ userProfileData.name }}</h2>
        </a>
        <p>@{{ userProfileData.login }}</p>
      </mat-card-title>
    </mat-card-header>
    <img
      class="card-img"
      mat-card-image
      [src]="userProfileImageUrl"
      *ngIf="userProfileImageUrl"
    />
    <mat-card-content>
      <p>{{ userProfileData.bio }}</p>
    </mat-card-content>
    <div *ngIf="topTechs$ | async as topTechs" class="stacks-container">
      <p>Top Tech Stacks:</p>
      <div class="stacks">
        <ul>
          <li *ngFor="let tech of topTechs">{{ tech[0] }}</li>
        </ul>
      </div>
    </div>
  </div>
</mat-card> -->
