<div class="search-input">
  <input
    matInput
    type="text"
    [(ngModel)]="username"
    (ngModelChange)="fetchUserProfile()"
  />
</div>

<mat-card class="card">
  <div *ngIf="userProfileData">
    <mat-card-header>
      <!-- Add a heart button to the profile -->
      <mat-card-actions>
        <button mat-icon-button (click)="toggleFavorite()">
          <mat-icon>{{ isFavorite ? "favorite" : "favorite_border" }}</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-title>
        <h2>{{ userProfileData.name }}</h2>
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      [src]="userProfileImageUrl"
      *ngIf="userProfileImageUrl"
    />
    <mat-card-content>
      <p>{{ userProfileData.bio }}</p>
      <div *ngIf="techStack$ | async as techStack">
        <h3>Tech Stack</h3>
        <ul>
          <li *ngFor="let tech of techStack | keyvalue">
            {{ tech.key }}
          </li>
        </ul>
      </div>
    </mat-card-content>
  </div>
</mat-card>
