.search-input {
  display: flex;
  justify-content: center;
  margin: 20px;
}

input {
  border-radius: 24px;
  padding: 0.8rem;
  min-width: 35rem;
  font-size: 18px;
}

input:hover {
  outline: none;
  box-shadow: 0 0 0 3px black;
}

.card {
  max-width: 200px;
  margin: auto;
  margin-bottom: 24px;
}

.card > a {
  text-decoration: none;
  color: black;
}

mat-card {
  background-color: #fff;
  border: 1px solid #ebe3d5;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

mat-card-title > a > h2 {
  color: black;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}
mat-card-title > p {
  color: black;
  font-size: 12px;
  font-weight: 100;
}

mat-card-content > p {
  color: black;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
  color: black;
}

.stacks-container {
  color: black;
}

.stacks > ul {
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.stacks > ul > li {
  list-style: none;
  width: 70px;
  border: 1px solid black;
  border-radius: 16px;
  margin: 5px;
}
